* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #171717;
    color: #ffffff;
  }
  
  .container {
    max-width: 80vw;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #000000;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    padding: 10px;
    font-size: 16px;
    background-color: #434343;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li:hover {
    background-color: #000000;
  }

  li img {
    margin: 10px;
  }
  
  .delete-tv-show-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-tv-show-btn:hover {
    background-color: #cc0000;
  }
  